*{
	margin: 0;
	padding: 0;
}

*:not(input){
	user-select: none;
	-webkit-user-select: none;
}

ul{
	list-style: none;
}

i{
	width: 1em;
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
}

button{
	color: #424242;
	float: left;
	height: 1.25em;
}

.hidden{
	display: none;
}

html, body{
	font-family: Varela, Verdana;
	font-size: 16px;
	color:#424242;
	height: 100%;
	width: 100%;
}

body{
	background: -webkit-radial-gradient(center, ellipse cover, #ffffff 0%,#bbdefb 100%);
	background-size: cover;
	background-attachment: fixed;
}

/* MENU BAR */
ul#menu_bar{
	width: 100%;
	height: 2em;
	background: #fff;
	line-height: 2em;
	box-shadow: 0 0 .5em rgba(66,66,66,0.75);
	z-index: 5000;
	border-bottom: 1px solid rgba(66,66,66,1);
	position: fixed;
	top: 0;
	left: 0;
}

ul#menu_bar li{
	cursor: pointer;
	padding: 0 1em;
	float: left;
}

ul#menu_bar li.window_control{
	float: right;
}

ul#menu_bar li:not(.disabled):hover{
	background-color: #424242;
	color: #fff;
}

/* LIBRARY DISPLAY */

div#library_size_wrapper{
	padding: 3em 0;

}

ul#library{
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	align-content: center;
	width: 75%;
	height: 100%;
	margin: 0 auto;
}

ul#library li.game{
    position: relative;
    display: inline-block;
	flex: 0 1 auto;
	opacity: 0;
	margin: 1em;
	position: relative;
	cursor: pointer;
	vertical-align: top;
	cursor: inherit;
	border-radius: 0.5em;
}

ul#library li.game:hover,
ul#library li.game.active{
	box-shadow: 0 0 1em 0.25em #2196F3;
}

ul#library li.game .img_container{
	border-radius: 0.5em;
	box-shadow: 0 0 1em rgba(66,66,66,0.75);
	background: url('../images/janet.png') 50% 50% no-repeat rgba(66,66,66,0.75);
	background-size: 25%;
}

li.game img{
	border-radius: 0.5em;
}

.tooltiptext {
    visibility: hidden;
    width: 150%;
    background-color: #fff;
    color: #424242;
    text-align: center;
    border-radius: 0.5em;
    padding: 10%;
    position: absolute;
    z-index: 9999;
    top: 115%;
    left: -35%;
    opacity: 0;
    transition: opacity 1s;
	font-size: 0.75em;
	box-shadow: 0 0 .5em rgba(66,66,66,0.75);
}

.tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
}

li.game:hover .tooltiptext,
li.game.active .tooltiptext{
    visibility: visible;
    opacity: 1;
}

/* Banner style display */

ul#library.banner li.game{
	width: 16em;
}

ul#library.banner .tooltiptext {
    width: 100%;
    padding: 10%;
    left: -10%;
	font-size: 1em;
}

ul#library.banner li.game .img_container{
	height: 9em; /* Ratio with parent li.width to match 640*360 title image */
}

ul#library.banner li.game img.banner{
	display: block;
	height: 100%;
	width: 100%;
}

ul#library.banner li.game img.icon{
	display: none;
}

/* Icon style list */

ul#library.icon{
	justify-content: center;
}

ul#library.icon li.game .img_container{
	height: 4em;
	width: 4em;
}

ul#library.icon li.game img.icon{
	display: block;
	height: 100%;
	width: 100%;
}

ul#library.icon li.game img.banner{
	display: none;
}

/* UI BAR */
ul#ui_bar{
	width: 100%;
	height: 2em;
	background: #fff;
	line-height: 2em;
	box-shadow: 0 0 .5em rgba(66,66,66,0.75);
	z-index: 5000;
	border-top: 1px solid rgba(66,66,66,1);
	position: fixed;
	bottom: 0;
	left: 0;
}

ul#ui_bar li{
	cursor: pointer;
	padding: 0 1em;
	float: left;
	line-height: 2em;
}

ul#ui_bar li#gamepad{
	float: right;
	cursor: default;
}

ul#ui_bar li#gamepad i{
	font-size: 220%;
}

ul#ui_bar div#slider{
	width: 5em;
	margin-top: 0.5em;
	height: 1em;
	border: 1px solid #424242;
}

div#slider span.ui-slider-handle{
	display: none;
}

div#slider div.ui-slider-range{
	height: 1em;
	border-radius: 0px;
	background-color: #424242;
}

div#title_display{
	text-align: left;

}

/* OPTIONS PANEL */

input:disabled{
	background-color: transparent;
	color: #424242;
	font-family: Varela, Verdana;
}

div#options{
	display: none;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	text-align: center;
	position: absolute;
	top: 0;
	left: 0;
}

ul#options_list{
	margin: 3em auto;
	text-align: left;
	font-size: 1.25em;
	width: 80%;
	max-width: 35em;
}

ul#options_list li{
	padding: 1em;
	text-align: left;
	margin: 1em auto;
	overflow: auto;
	background-color: #fff;
	color: #424242;
	border-radius: 0.5em;
	box-shadow: 0 0 1em rgba(66,66,66,0.75);
}

ul#options_list button{
	margin: 0 0.5em;
	font-size: 1em;
	border: none;
	outline: none;
	background-color: transparent;
}

ul#options_list input{
	display: inline-block;
	width: 80%;
	border-radius: 0.5em;
	padding: 0.1em 0.5em;
	border: none;
	outline: none;
	font-size: .8em;
}

/* LOADING OVERLAY */
div#loading{
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: url('../images/loading.gif') 50% 50% no-repeat rgba(66, 66, 66, 0.75);
	background-size: 25%
}

/* WINDOW STYLE */
